#editor1, #editor2, #editor3, #editor4{
  width: 100% !important;
  height: 100% !important;
}
.monaco-editor{
    position: relative!important;
}
.scrollable .lm_content {
  overflow: scroll;
}
.lm_splitter.lm_vertical .lm_drag_handle {
  height: 20px;
}
.lm_splitter.lm_horizontal .lm_drag_handle {
  width: 20px;
}
.gl-wrapper {
    
  padding: 0rem;
}
.lm_root{
background: #0d101e!important;
}
.lm_tabs{
    padding:0!important;
    margin: 0!important;
}
.lm_tab {
   background: #1d2333 !important;
  height: 35px !important;
  line-height:35px;
  font-size: 15px!important;
}
.lm_items .lm_maximised{
    max-width: 100% !important;
    max-height:100% !important;
}
.lm_close_tab {
  height: 30px !important;
  line-height: 28px!important;
  font-size: 15px !important;
}

.lm_controls {
  top:10px;
}
body {
  font-family: sans-serif;
  color: #fff;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}