<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="RunX | Best way to compile, run and save code online">
    <meta name="description" content="We are providing best UI to Compile, Run, Debug  and save your codes online. Supported languages are C,C++,Python and Java.">
    <meta name="keywords" content="compiler,C,C++,Java,Python">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <title>My Files</title>
	<!--<script type="module" src="https://cdn.jsdelivr.net/gh/vanillawc/wc-monaco-editor/index.js"></script>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/nikhraj/RunX/favicon/favicon.ico">
    
    <style>
        body {
            font-size:16px;
        }
        a{
            color:#000000;
        }
        .ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
            height:35%!important;
        }
    </style>
</head>
<body>
    <div class="twelve wide column" style="margin-top:5%;">
        <div class="ui centered grid container">
<table id="example" class="ui celled table" style="width:100%">
<thead>
  <tr>  
      <th>FileName</th>
      <th>Date of Creation</th>
      <th>Last Edit</th>
      <th>Delete File</th>
    </tr>
  </thead>
  <tbody id="mydata">

      <tr>
          <th colspan="4">
          <div style="margin:3%" class="ui warning message">
            <div class="header">
                No files are created!
            </div>
            Create new files and it will be displayed here.
        </div>
          </th>
      </tr>
   <!-- <tr>
      <td class="collapsing">
        <a href="https://trohs.xyz/codeforces">
        <img class="ui avatar image" src="c-plusplus.svg" style="padding-right:5px;">code.cpp
        </a>
      </td>
      <td>23/04/2021</td>
      <td>9 hours ago</td>
    </tr>
    <tr>
    
      <td>
     <a href="https://trohs.xyz/codeforces">
        <img class="ui avatar image" src="python.svg" style="padding-right:5px;">practical1.py</a>
      </td>
      <td>19/04/2021</td>
      <td>1 month ago</td>
    </tr>
    <tr>
      <td>
        <a href="https://trohs.xyz/codeforces">
        <img class="ui avatar image" src="c-plusplus.svg" style="padding-right:5px;">GT_prac1.cpp</a>
      </td>
      <td>23/05/2021</td>
      <td>2 days ago</td>
    </tr>
    <tr>
      <td>
        <a href="https://trohs.xyz/codeforces">
        <img class="ui avatar image" src="java.svg" style="padding-right:5px;">GT_prac2.java
        </a>
      </td>
      <td>09/12/2020</td>
      <td >10 hours ago</td>
    </tr>
    <tr>
      <td>
    <a href="https://trohs.xyz/codeforces">
       <img class="ui avatar image" src="c.svg" style="padding-right:5px;">ads_prac.c
    </a>
      </td>
      <td>23/04/2021</td>
      <td>16 hours ago</td>
    </tr>-->

  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">
        <a href="https://runx.nikraj.repl.co/createfile" target="_blank"><div class="ui right floated primary labeled icon button">
          <i class="plus circle icon" style="padding-right:5px;"></i> Create New
        </div></a>
      </th>
    </tr>
  </tfoot>
    </table>
    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js">
	</script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>

<script>


    
    $(document).ready(function() {
    $('#example').DataTable({
        "order": [[ 1, "desc" ]]
    });
});

        imgdict = {'cpp':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/c-plusplus.svg','c':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/c.svg','py':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/python.svg','java':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/java.svg'};
        myStorage = window.localStorage;
            
        var json_str = localStorage.getItem('mycodes');
        //console.log(json_str);
        var mainObj = JSON.parse(json_str);
        //console.log(mainObj);
        var k='';
        for(var i=0;i<mainObj.length;i++)
        { 
            if(!mainObj[i])
                continue;
            var uid = mainObj[i].uid;
            var fname = mainObj[i].filename;
            var date = mainObj[i].date;
            var lang = mainObj[i].lang;   
            var imurl = imgdict[lang];
            var updates = mainObj[i].updatetime;
            last=new Date(new Date().toLocaleString())-new Date(updates);
            //var a = new Date(); 
            //var d = (mainObj[i].date-a)/(1000*60*60);
            last=last/(1000*60);
            //console.log(last);
            var days = Math.floor(last/(24*60));
            var hrs = Math.floor(last/60)%24;
            var mins = Math.floor(last)%60;
            var disp = "";

            if(days===0)
            {
                if(hrs===0)
                {
                    disp+=mins.toString()+" mins ago";
                }
                else
                {
                    disp+=hrs.toString()+" hrs ago";
                }
            }
            else
            {
                disp+=days.toString()+" days ago";
            }

           // <td>${Math.floor(last/(24*60))} Days  ${Math.floor(last/24)%24} Hrs  ${Math.floor(last)%60} mins Ago</td>

            k+=`<tr class="${i}">
            <td class="collapsing">
                <a href="../${uid}">
                <img class="ui avatar image" src="${imurl}" style="padding-right:5px;">${fname}
                </a>
            </td>
            <td>${date}</td>
            <td>${disp}</td>
            <td ><button onclick="myfunc('${i}','${uid}')" class="ui cancel red labeled icon button">
      <i class="delete icon"></i>
      Delete
   </button></td>
            </tr>`
        }
        document.getElementById('mydata').innerHTML=k;
        function myfunc(tr_id,my_uid)
        {
            var newid='.'+tr_id.toString();
            $(newid).hide();
            //myStorage = window.localStorage;
            
          //  var json_str = localStorage.getItem('mycodes');
            //console.log(json_str);
           // var mainObj = JSON.parse(json_str);
            for(var i=0;i<mainObj.length;i++)
            { 
                if(!mainObj[i])
                    continue;
                var uid = mainObj[i].uid;
                if(uid===my_uid)
                {
                    delete mainObj[i];
                }
            }
            var json_str = JSON.stringify(mainObj);
            localStorage.setItem('mycodes', json_str);
        }


</script>

</body>
</html>
