
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="RunX | CodeCompiler">
    <meta name="description" content="We are providing best UI to Compile, Run, Debug and save your codes online.You can solve contest problems of codeforces using runx.Supported languages are C,C++,Python and Java.">
    <meta name="keywords" content="codeforces,compiler,C,C++,Java,Python">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <title>RunX - CodeEditor</title>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/golden-layout@1.5.9/src/css/goldenlayout-base.css">

	<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/golden-layout@1.5.9/src/css/goldenlayout-dark-theme.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nikhraj/RunX/library/style.css">
	<!--<script type="module" src="https://cdn.jsdelivr.net/gh/vanillawc/wc-monaco-editor/index.js"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
     <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/nikhraj/RunX/favicon/favicon.ico">
       <style>
        
    #site-footer{
        background-color: #0d101e;
        bottom: 0;
        font-family: droid sans mono, monospace, monospace, droid sans fallback;
        font-size: 13px;
        height: 19px;
        padding-left: 16px;
        padding-right: 16px;
        position: fixed;
    }
    #site-footer {
        color: #ffffff;
        text-align:center;
        left:0;
        font-weight: 400;
        width: 100%;
    }

        .heart {
        fill: red;
        position: relative;
        
        width: 10px;
        animation: pulse 1s ease infinite;
        }

        @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.3); }
        100% { transform: scale(1); }
        }
        a{
            color:#000000;
        }
        .ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
            height:35%!important;
        }

        .loading {
        animation: rotation 2s infinite linear;
        }

        @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
        }

         </style>
</head>

<body style="background:#0d101e;">
<div  id="navbar" class="navbar">
            
           
  <!--<a class="item">
    
  <div id="lang" class="ui teal dropdown labeled icon button large">
    <i class="code icon"></i>
    <span id="lang">Language</span>
    <div class="menu">
        <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search language...">
        </div>
        <div class="divider"></div>
        <div class="header">
        <i class="code icon"></i>
        Select language
        </div>
        <div class="scrolling menu">
        <div class="selected item" data-value="cpp">
             <img src="https://cdn.jsdelivr.net/gh/nikhraj/CodeForces-Code-Editor/c-plusplus.svg" style="padding:5px;">
            <span class="text">C++</span>
        </div>
        <div class="item" data-value="c">
             <img src="https://cdn.jsdelivr.net/gh/nikhraj/CodeForces-Code-Editor/c.svg" style="padding:5px;">
            <span class="text">C</span>
        </div>
        <div class="item" data-value="java">
            <img src="https://cdn.jsdelivr.net/gh/nikhraj/CodeForces-Code-Editor/java.svg" style="padding:5px;">
            <span class="text">Java</span>
        </div>
        <div class="item" data-value="py">
            <img src="https://cdn.jsdelivr.net/gh/nikhraj/CodeForces-Code-Editor/python.svg" style="padding:5px;"><span class="text">Python</span>
        </div>
        </div>
    </div>
    </div>
    </a>-->
    <a class="item">
    
  <div class="ui teal labeled icon button medium" id="bookmarksbtn"> 
          <i class="folder icon"></i>
    <span>MyFiles</span>
      </div>
      </a>
  <a class="item">
    
  <div id="theme" style="margin-left:0.4em" class="ui blue dropdown labeled icon button medium" >
    <i class="edit icon"></i>
    <span id="theme">Theme</span>
    <div class="menu">
        <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search theme...">
        </div>
        <div class="divider"></div>
        <div class="header">
        <i class="edit icon"></i>
        Select theme
        </div>
        <div class="scrolling menu">
        <div class="selected item" data-value="default">
            <div class="ui violet empty circular label" ></div>
            Default
        </div>
         <div class="item" data-value="nightowl">
            <div class="ui pink empty circular label"></div>
           NightOwl
        </div>
        <div class="item" data-value="cobalt">
            <div class="ui blue empty circular label"></div>
           Tourist
        </div>
        <div class="item" data-value="dark">
            <div class="ui black empty circular label"></div>
            Sublime
        </div>
        <div class="item" data-value="light">
            <div class="ui grey empty circular label"></div>
            Light
        </div>
        
        </div>
    </div>
    </div>
   
    </a>
    
   <!-- <div class="item">
    <button id="setbk" class="ui red button large">S</button>
    </div>
    <div class="item">
    <button id="getbk" class="ui yellow button large">G</button>
    </div>-->
     <div class="item" style="margin-left:0.4em">
     <div id="popupbtn" class="ui labeled icon brown button medium"><i class="save icon"></i>Save</div>
    </div>
    <div class="item" style="margin-left:0.4em">
     <div id="sharebtn" class="ui labeled icon purple button medium"><i class="share alternate icon"></i>Share</div>
    </div>
    <div class="item" style="margin-left:0.4em;display: flex;
  justify-content: center;
  align-items: center;">
        <div class="ui header" style="font-size:15px;color:#fffffe;font-weight:300">
     <i id="saveicon" class="database icon"></i>
     
        <div class="content" id="savecontent">
          AutoSaved
        </div>
        </div>
    </div>
      <div class="item" style="margin:auto;">
        <div class="ui green button medium" id="run"><i id="load" class="play icon"></i>Run (F9)</div>
    </div>

    <div class="item" style="margin-left: auto; 
margin-right: 0;">
        <img src="https://i.ibb.co/bWNfZWB/Screenshot-1629-removebg-preview.png" style="height:30px">
    </div>

  
</div>

<div id="mymodal" class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Change filename if you want
  </div>
<div class="ui form">
<form id="formId1" action="save" method="POST">
   {% csrf_token %}
  <div class="field" style="margin:5%;">
    <label>FileName</label>
    <input type="text" name="fname" id="fname">
  </div>
    <input type="hidden" name="src" id="src">
    <input type="hidden" name="date" id="date">
    <input type="hidden" name="uid" id="formuid">
</form>
</div>
  <div class="actions">
    <div class="ui deny button">Cancel</div>
    <button id="submitbtn" class="ui labeled icon primary button" type="submit"><i class="save icon"></i>Save</div>
  </div>


<div id="sharemodal" class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Share your file with others
  </div>
<div id="sharediv" style="display: flex;align-items: center;justify-content: center;">

</div>

<div class="actions" style="display: flex;align-items: center;justify-content: center;">
    <div class="ui labeled button" tabindex="1">
  <div class="ui teal button" id="copybtn">
    <i class="copy icon"></i> Copy
  </div>
  <span id="sharelink" class="ui basic teal left pointing label">
  </span>
</div>   
</div>
</div>

<div id="mydiv">
    <script>
        var elmnt = document.getElementById("navbar");
        var heigh = elmnt.offsetHeight.toString()+"px";
       document.getElementById("mydiv").style.setProperty('height', 'calc(100% - 89px)');
    </script>
	<div  id="goldenify-a">
		<div id="editor1"></div>
	</div>
	<div id="goldenify-b">
		<div id="editor2"></div>
	</div>
	<div id="goldenify-c">
		<div id="editor3"></div>
	</div>
	<div id="goldenify-d">
		<div id="editor4"></div>
	</div>

</div>
     <div id="site-footer">
        
        Made with <svg class="heart" viewBox="0 0 32 29.6">
        <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
        </svg> for coders.
      
     </div>


<div id="bookmarksmodal"  class="ui basic modal">
    <i class="close icon"></i>
<table id="exampletable" style="margin:2%!important" class="ui celled table">
<thead>
  <tr>  
      <th>FileName</th>
      <th>Date of Creation</th>
      <th>Last Edit</th>
      <th>Delete File</th>
    </tr>
  </thead>
  <tbody id="mydata">

      <tr>
          <th colspan="4">
          <div style="margin:3%" class="ui warning message">
            <div class="header">
                No files are created!
            </div>
            Create new files and it will be displayed here.
        </div>
          </th>
      </tr>

  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">
        <a href="../createfile" target="_blank"><div class="ui right floated primary labeled icon button">
          <i class="plus circle icon" style="padding-right:5px;"></i> New File
        </div></a>
         <a href="../createfilecf" target="_blank"><div class="ui right floated teal labeled icon button">
          <i class="plus circle icon" style="padding-right:5px;"></i> New CF File
        </div></a>

      </th>
    </tr>
  </tfoot>
    </table>
</div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

     <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>

	<script src='https://cdn.jsdelivr.net/gh/nikhraj/RunX/library/goldenlayout.js'>

	</script>

	<script src='https://cdn.jsdelivr.net/npm/monaco-editor@0.21.2/min/vs/loader.js'></script>

    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js">
	</script>

   
   <!-- <script src="https://cdn.jsdelivr.net/gh/nikhraj/CodeForces-Code-Editor/script2.js">

	</script> -->
    <script src="https://cdn.jsdelivr.net/gh/nikhraj/RunX/library/scriptforcode.js"></script>

    <script>
        //const axios = require('axios').default;
        require.config({ paths: { 'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.21.2/min/vs' }});
        window.MonacoEnvironment = { getWorkerUrl: () => proxy };

        let proxy = URL.createObjectURL(new Blob([`
            self.MonacoEnvironment = {
                baseUrl: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.21.2/min/'
            };
            importScripts('https://cdn.jsdelivr.net/npm/monaco-editor@0.21.2/min/vs/base/worker/workerMain.js');
        `], { type: 'text/javascript' }));

        var fontSize = 20;

        require(["vs/editor/editor.main"], function () {

var cSource = "\
#include <stdio.h>\n\
\n\
int main() {\n\
    printf(\"Welcome to RunX\\n\");\n\
    return 0;\n\
}\n\
";

var cppSource = "\
#include <iostream>\n\
using namespace std;\n\
int main() {\n\
    cout << \"Welcome to RunX\" << endl;\n\
    return 0;\n\
}\n\
";

var javaSource = "\
public class Main {\n\
    public static void main(String[] args) {\n\
        System.out.println(\"Welcome to RunX\");\n\
    }\n\
}\n\
";

var pythonSource = "print(\"Welcome to RunX\")";

        var sources = {"c":cSource,"cpp":cppSource,"java":javaSource,"py":pythonSource};

        var titles = {"c":"code.h","cpp":"code.cpp","java":"code.java","py":"code.py"};

        var monacolang = {"c":"c","cpp":"cpp","java":"java","py":"python"};

            let editor1 = monaco.editor.create(document.getElementById('editor1'), {
                automaticLayout: true,
                scrollBeyondLastLine: true,
                value: cppSource,
                language: "cpp",
                theme: 'vs-dark',
                minimap: {
                    enabled: false,
                },
                fontSize: fontSize,
                scrollbar: {
                vertical: "visible",
                horizontal: "visible",
                verticalScrollbarSize: 10,
                horizontalScrollbarSize: 10,
            },
            });

            let editor2=monaco.editor.create(document.getElementById('editor2'), {
                automaticLayout: true,
                scrollBeyondLastLine: false,
                value:['Enter input here, remove this line and give input if any !'].join('\n'),
                theme: 'vs-dark',
                language: "text/plain",
                
                minimap: {
                    enabled: false,
                },
                fontSize: fontSize,
                scrollbar: {
                useShadows: true,
                vertical: "visible",
                horizontal: "visible",
                verticalScrollbarSize: 9,
                horizontalScrollbarSize: 9,
            },
            });

            let editor3=monaco.editor.create(document.getElementById('editor3'), {
                automaticLayout: true,
                scrollBeyondLastLine: false,
                value: [
                    'Your output will be displayed here !',
                    'Tip : Use ctrl +/- to change fontsize',			
                ].join('\n'),
                theme: 'vs-dark',
                minimap: {
                    enabled: false,
                },
                fontSize: fontSize,
                language: "text/plain",
                
                scrollbar: {
                useShadows: true,
                vertical: "visible",
                horizontal: "visible",
                verticalScrollbarSize: 9,
                horizontalScrollbarSize: 9,
            },
            });
            let editor4=monaco.editor.create(document.getElementById('editor4'), {
                automaticLayout: true,
                value: [
                    'Coming Soon ....',
                ].join('\n'),
                scrollBeyondLastLine: false,
                language: 'text/plain',
                theme: 'vs-dark',
                minimap: {
                    enabled: false,
                },
                fontSize: fontSize,
                language: "text/plain",
                scrollbar: {
                useShadows: true,
                vertical: "visible",
                horizontal: "visible",
                verticalScrollbarSize: 9,
                horizontalScrollbarSize: 9,
            },
            });

            monaco.editor.defineTheme('myTheme', {
            base: 'vs-dark',
            inherit: true,
            rules: [{ background: '#1d2333' }],
            colors: {
                'editor.background': '#1d2333',
            }});

        monaco.editor.defineTheme('myTheme2', {
        "base": "vs-dark",
        "inherit": true,
        "rules": [
            
            { "background":'#282923',"token": "comment", "foreground": "ffa500", "background": "303030", "fontStyle": "italic underline" },
            { "token": "comment.js", "foreground": "008800", "fontStyle": "bold" },
            { "token": "comment.css", "foreground": "0000ff", "fontStyle": "bold", "inherit": false, "background": "808080" }
        ],
        "colors": {
                'editor.background': '#282923',
            }
        });
        monaco.editor.defineTheme('myTheme3', {
            base: 'vs',
            inherit: true,
            rules: [{"background":'#fffffe' }],
            colors: {
            'editor.background': '#fffffe', 
            }});

        var jqxhr = $.getJSON( "https://json.extendsclass.com/bin/4797ca89a652", function(result){
            monaco.editor.defineTheme('nightowl', result);
            console.log( "success" );
            })
            .fail(function() {
                console.log( "error" );
        });

        var jqxhr2 = $.getJSON( "https://json.extendsclass.com/bin/003d9459bfd0", function(result){
            monaco.editor.defineTheme('cobalt', result);
            console.log( "success" );
            })
            .fail(function() {
                console.log( "error" );
        });

        $(".lm_tab").css("background", "#1d2333");
        $(".lm_header").css("background","#0d101e");
        $("#site-footer").css("background","#0d101e");
         $("body").css("background","#0d101e");
        monaco.editor.setTheme('myTheme');
        $('#theme').dropdown('setting', 'onChange', function(){
            value = $('#theme').dropdown('get value');
            //console.log(value);
            if(value=='dark')
            {
                $("body").css("background","black");
                $("#site-footer").css("background", "black");
                $("#navbar").css("background", "#282923");
                $(".lm_root").css("background", "black");
                $(".lm_header").css("background","#181915");
                $(".lm_tab").css("background", "#282923");
                monaco.editor.setTheme('myTheme2');
            }
            else if(value=='light')
            {
                $(".lm_title").css("color","black");
                $("body").css("background","white");
            // $(".lm_close_tab").css("background","black");
            // $(".lm_maximise").css("background","black");
            // $(".lm_close").css("background","black");
                $("#navbar").css("background", "#fffffe");
                $(".lm_root").css("background", "#ededed");
                $(".lm_header").css("background","#ededed");
                $(".lm_tab").css("background", "#fffffe");
                monaco.editor.setTheme('myTheme3');
            }
            else if(value=="nightowl")
            {
                $("#navbar").css("background", "#011627");
                $(".lm_root").css("background", "#010e17");
                $(".lm_header").css("background","#010e17");
                $(".lm_tab").css("background", "#011627");
                $("#site-footer").css("background","#010e17");
                $("body").css("background","#0d101e");
                monaco.editor.setTheme('nightowl');
            }
            else if(value=="cobalt")
            {
                $("#navbar").css("background", "#002240");
                $(".lm_root").css("background", "#00162a");
                $(".lm_header").css("background","#00162a");
                $(".lm_tab").css("background", "#002240");
                $("#site-footer").css("background","#00162a");
                $("body").css("background","#00162a");
                monaco.editor.setTheme('cobalt');
            }
            else{
                $("#navbar").css("background", "#1d2333");
                $(".lm_root").css("background", "#0d101e");
                $(".lm_header").css("background","#0d101e");
                $(".lm_tab").css("background", "#1d2333");
                $("#site-footer").css("background","#0d101e");
                $("body").css("background","#0d101e");
                monaco.editor.setTheme('myTheme');
            }
        });
        var lan="cpp";
        
        var data = JSON.parse("{{data|escapejs}}");
        lan = data['lang'];
        monaco.editor.setModelLanguage(editor1.getModel(), monacolang[lan]);
        $(".lm_title")[0].innerText = data['fname']+'.'+lan;
        
        if(data['src']!='')
        {
            editor1.setValue(data['src']);
        }
        else
        {
            editor1.setValue(sources[lan]);
        }
        $('#fname').attr('value', data['fname']);

        function editorsUpdateFontSize(fontSize) {
            editor1.updateOptions({fontSize: fontSize});
            editor2.updateOptions({fontSize: fontSize});
            editor3.updateOptions({fontSize: fontSize});
            editor4.updateOptions({fontSize: fontSize});
        }

        var out_audio = new Audio('https://cdn.jsdelivr.net/gh/nikhraj/RunX/audio/outputaudio.mp3');
        var run_audio = new Audio('https://cdn.jsdelivr.net/gh/nikhraj/RunX/audio/runaudio.mp3');
        //var btn_audio = new Audio('buttonaudio.mp3');

        $("body").keydown(function (e) {
                var keyCode = e.keyCode || e.which;
                
                if (keyCode == 120) { // F9
                    e.preventDefault();
                    $("#run").trigger("click");
                // run();
                }  else if (event.ctrlKey && keyCode == 107) { // Ctrl++
                    e.preventDefault();
                    fontSize += 1;
                    editorsUpdateFontSize(fontSize);
                } else if (event.ctrlKey && keyCode == 109) { // Ctrl--
                    e.preventDefault();
                    fontSize -= 1;
                    editorsUpdateFontSize(fontSize);
                }
            });


      /*  $("#setbk").click(function set_bookmark(){
                myStorage = window.localStorage;
                var filename = "code.cpp"; 
                var json_str = localStorage.getItem('mycodes');
                if(!json_str){
                json_str = "";
                localStorage.setItem('mycodes', json_str);
                }
                if(json_str.length > 0)
                var mainObj = JSON.parse(json_str);
                else
                var mainObj = [];
                var options = { year: 'numeric', month: 'long', day: 'numeric' };
                var n = new Date().toLocaleDateString("en-IN", options);

                var f = 1;
                for(var i=0;i<mainObj.length;i++)
                {
                    if(mainObj[i].filename==filename)
                    {
                        f=0;
                        mainObj[i].code = editor1.getValue();
                        mainObj[i].input = editor2.getValue();
                        break;
                    }
                }
                if(f)
                {
                    mainObj.push({filename:"code.cpp",code:editor1.getValue(),input:editor2.getValue(),date:n});
                }

                var json_str = JSON.stringify(mainObj);
                localStorage.setItem('mycodes', json_str);
                console.log(json_str);
        });
        $("#getbk").click(function get_bookmark(){
            myStorage = window.localStorage;
            var filename = "code.cpp";
            var json_str = localStorage.getItem('mycodes');
        //console.log(json_str);
            var mainObj = JSON.parse(json_str);
        //console.log(mainObj);
        for(var i=0;i<mainObj.length;i++)
        {
            if(mainObj[i].filename==filename)
            {
                var code = mainObj[i].code;
                var input = mainObj[i].input;   
                editor1.setValue(code);
                editor2.setValue(input);
            }
        }
        // console.log(filename);
            //console.log(code);
        
            
                
        });
        //console.log(editor1.getValue());

        //console.log(editor2.getValue());
*/

        $('#popupbtn').click(function(){
            $('#mymodal').modal('show');
           
        });

        
        // $('.ui.basic.modal').modal({
        //     inverted: true });
        $('#bookmarksbtn').click(function(){
            $('#bookmarksmodal').modal('show');
           
        });
        var link = window.location.href;
        var title = "Sharing my file using RunX";
        var k=`<a href="https://api.whatsapp.com/send?text=${title} ${link}" data-action="share/whatsapp/share" target="_blank" style="margin:2%" class="ui circular whatsapp icon large button">
<i class="whatsapp icon"></i>
</a>
<a style="margin:2%" href="https://www.facebook.com/sharer.php?u=${link}&t=${title}" target="_blank" class="ui circular facebook icon large button">
  <i class="facebook icon"></i>
</a>
<a href="https://twitter.com/share?url=${link}&text=${title}" target="_blank" style="margin:2%" class="ui circular twitter icon large button">
  <i class="twitter icon"></i>
</a>
<a style="margin:2%" href="https://www.linkedin.com/shareArticle?url=${link}&title=${title}" target="_blank" class="ui circular linkedin icon large button">
  <i class="linkedin icon"></i>
</a>
<a href="mailto:?subject=${title}&body=${link}" target="_blank" style="margin:2%" class="ui circular google plus icon large button">
  <i class="envelope icon"></i>
</a>
<a style="margin:2%" href="https://telegram.me/share/url?url=${link}&text=${title}" target="_blank" class="ui circular telegram plane icon large button">
<i class="telegram plane icon"></i>
</a>`;
        $('#sharediv').html(k);
        $('#sharebtn').click(function(){
            
            $('#sharelink').text(link);
            $('#sharemodal').modal('show');
        });
        $('#copybtn').click(function(){
            
            var o=document.getElementById('sharelink'),t=document.createElement("textarea");t.value=o.textContent,document.body.appendChild(t),t.select(),document.execCommand("Copy"),t.remove(),
            $('#sharemodal')
            .toast({
                message: 'Link copied to your clipboard.',
                class : 'olive',
                className: {
                toast: 'ui message'
            }
            })
        });

        // $('#submitbtn').click(function(){
            
        //     var up = new Date().toLocaleString();
        //     myStorage = window.localStorage;
                
        //     var json_str = localStorage.getItem('mycodes');
        //     //console.log(json_str);
        //     var mainObj = JSON.parse(json_str);
            
        //     for(var i=0;i<mainObj.length;i++)
        //     {
        //          if(!mainObj[i])
        //             continue;
        //         var uid = mainObj[i].uid;
        //         var this_uid = "r"+data['uid'];
        //         //console.log(this_uid);
        //         if(this_uid === uid)
        //         {
        //             //console.log(uid);
        //             mainObj[i].updatetime = up;
        //         }
        //     }
        //     var json_str = JSON.stringify(mainObj);
        //     localStorage.setItem('mycodes', json_str);
        //     console.log(editor1.getValue());
        //     $('#src').val(editor1.getValue());
        //     $('#formId1').submit();
        // });

function updatetime()
{
    var up = new Date().toLocaleString();
    myStorage = window.localStorage;
        
    var json_str = localStorage.getItem('mycodes');
    //console.log(json_str);
    var mainObj = JSON.parse(json_str);
    
    for(var i=0;i<mainObj.length;i++)
    {
            if(!mainObj[i])
            continue;
        var uid = mainObj[i].uid;
        var this_uid = "r"+data['uid'];
        //console.log(this_uid);
        if(this_uid === uid)
        {
            //console.log(uid);
            mainObj[i].updatetime = up;
            break;
        }
    }
    var json_str = JSON.stringify(mainObj);
    localStorage.setItem('mycodes', json_str);
}

$('#submitbtn').click(function(){
    //console.log(editor1.getValue());
    $('#src').val(editor1.getValue());
    $('#formuid').val(data['uid']);

    $('#formId1').submit(function() { 
        $.ajax({ 
            data: $(this).serialize(), 
            type: $(this).attr('method'), 
            url: $(this).attr('action'), 
            success: function(response) { 
                console.log(response); 
                $(".lm_title")[0].innerText = response.fname+'.'+lan;
            },
            error: function(e, x, r) { 
               console.log(response);
            }
        });
        return false;
    });
    $('#formId1').trigger('submit');
    $('#mymodal').modal('hide');
    updatetime();
});

var mycode = editor1.getValue();
var save = function () {
   // var f = -1;
    // editor1.onDidChangeModelContent(function (e) {
    //     f=1;
    //     console.log(1);
    //     return;
    // });
    console.log(1);
   
    //console.log(mycode);
    var currcode = editor1.getValue();
    if(mycode!==currcode)
    {
        $('#saveicon').removeClass('database').addClass('spinner').addClass('loading');
        $('#savecontent').text("Saving...");
        console.log(2);
            $('#src').val(editor1.getValue());
            $('#formuid').val(data['uid']);

            $('#formId1').submit(function() { 
                $.ajax({ 
                    data: $(this).serialize(), 
                    type: $(this).attr('method'), 
                    url: $(this).attr('action'), 
                    success: function(response) { 
                    // console.log(response); 
                        
                    },
                    error: function(e, x, r) { 
                    //console.log(response);
                    }
                });
                return false;
            });
            $('#formId1').trigger('submit');
            updatetime();
            setTimeout(function(){ 
                $('#saveicon').removeClass('spinner').removeClass('loading').addClass('database');
                $('#savecontent').text("AutoSaved");
                
            }, 3000);

        //     $('body')
        // .toast({
        //     message: 'Auto saved code !',
        //     class:'info'
        // });
        mycode=currcode;
        
    }
}

$(document).ready(function() {
    //  editor1.onDidChangeModelContent(function (e) {
    //      console.log(1);
    //     setTimeout(function(){ 
    //        save();
    //      }, 6000);
    // });
 var intervalId = window.setInterval(function(){
        save();
    }, 10000);
});



        
        
        $("#run").click(function run(){

        
            run_audio.play();
            $('#navbar').removeClass('navbar').addClass('navbar2');

            $('#load').removeClass('play').addClass('circle').removeClass('icon').addClass('icon').addClass('notch').addClass('loading');
        editor3.setValue("Running....");
        var data = JSON.stringify({
                    "code":editor1.getValue(),
                    "language":lan,
                    "input":editor2.getValue()
            });


        var config = {
            method: 'post',
            url: 'https://mycorsforcf.herokuapp.com/https://codexweb.netlify.app/.netlify/functions/enforceCode',
            headers: { 
            // 'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': 'https://axios.nikraj.repl.co',
            'Content-Type': 'application/x-www-form-urlencoded',
            'Accept': 'application/json'
            },
            data : data
        };

        axios(config)
        .then(function (response) {
            run_audio.pause();
            out_audio.play();
            $('#navbar')
            .toast({
                message: 'Execution Complete,Please Check Output!',
                class : 'olive',
                className: {
                toast: 'ui message'
            }
            })
            console.log(response);
            $('#load').removeClass();
            $('#navbar').removeClass('navbar2').addClass('navbar');
            $('#load').addClass('play').addClass('icon');
            editor3.setValue(response.data.output);
        
            // document.getElementById("editor3").innerHTML=response.data.output;
        })
        .catch(function (error) {
            console.log(error);
           // editor4.setValue(error);
            // document.getElementById("editor4").innerHTML=error;
        });
        });

        });

    </script>



<script>
    
    $(document).ready(function() {
     //console.log(document.getElementById('exampletable').innerHTML);
    $('#exampletable').DataTable({
        "order": [[ 1, "desc" ]]
    });
});

        imgdict = {'cpp':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/c-plusplus.svg','c':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/c.svg','py':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/python.svg','java':'https://cdn.jsdelivr.net/gh/nikhraj/RunX/icons/java.svg'};
        myStorage = window.localStorage;
            
        var json_str = localStorage.getItem('mycodes');
        //console.log(json_str);
        var mainObj = JSON.parse(json_str);
        //console.log(mainObj);
        var k='';
        for(var i=0;i<mainObj.length;i++)
        { 
            if(!mainObj[i])
                continue;
            var uid = mainObj[i].uid;
            var fname = mainObj[i].filename;
            var date = mainObj[i].date;
            var lang = mainObj[i].lang;   
            var imurl = imgdict[lang];
            var updates = mainObj[i].updatetime;
            last=new Date(new Date().toLocaleString())-new Date(updates);
            //var a = new Date(); 
            //var d = (mainObj[i].date-a)/(1000*60*60);
            last=last/(1000*60);
            //console.log(last);
            var days = Math.floor(last/(24*60));
            var hrs = Math.floor(last/60)%24;
            var mins = Math.floor(last)%60;
            var disp = "";

            if(days===0)
            {
                if(hrs===0)
                {
                    disp+=mins.toString()+" mins ago";
                }
                else
                {
                    disp+=hrs.toString()+" hrs ago";
                }
            }
            else
            {
                disp+=days.toString()+" days ago";
            }

           // <td>${Math.floor(last/(24*60))} Days  ${Math.floor(last/24)%24} Hrs  ${Math.floor(last)%60} mins Ago</td>

            k+=`<tr class="${i}">
            <td class="collapsing">
                <a href="../${uid}">
                <img class="ui avatar image" src="${imurl}" style="padding-right:5px;">${fname}
                </a>
            </td>
            <td>${date}</td>
            <td>${disp}</td>
            <td ><button onclick="myfunc('${i}','${uid}')" class="ui cancel red labeled icon button">
      <i class="delete icon"></i>
      Delete
   </button></td>
            </tr>`
        }
        document.getElementById('mydata').innerHTML=k;
        function myfunc(tr_id,my_uid)
        {
            var newid='.'+tr_id.toString();
            $(newid).hide();
            //myStorage = window.localStorage;
            
          //  var json_str = localStorage.getItem('mycodes');
            //console.log(json_str);
           // var mainObj = JSON.parse(json_str);
            for(var i=0;i<mainObj.length;i++)
            { 
                if(!mainObj[i])
                    continue;
                var uid = mainObj[i].uid;
                if(uid===my_uid)
                {
                    delete mainObj[i];
                }
            }
            var json_str = JSON.stringify(mainObj);
            localStorage.setItem('mycodes', json_str);
        }
</script>
<script>
   
        
</script>
   <!--- <script src="script3.js"> </script> -->
    

	<!-- <wc-monaco-editor style="height:700px;width:700px" ></wc-monaco-editor> -->
</body>

</html>
